<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
  </head>
  <body>
    <%- include('header') %>

    <form action="/register" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required />
      <br>
      <label for="email">E-mail:</label>
      <input type="email" name="email" id="email" required/>
      <br>
      <label for="telNumber">Telephone number:</label>
      <input type="number" name="telNumber" id="telNumber"  required/>
      <br>
      <label for="favouriteBeer">What's your favourite Beer:</label>
      <input type="text" name="favouriteBeer" id="favouriteBeer" required />
      <br>  
      <button type="submit">REGISTER NEW USER</button>
    </form>

    <%- include('footer') %>
  </body>
</html>
