* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}
h1{
  font-size: 40px;
  font-family: "veneerregular", "Montserrat", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}
h2 {
  font-size: 30px;
  font-family: "veneerregular", "Montserrat", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}
header {
  background: black;
  height: 130px;
  color: wheat;
  display: flex;
  width: 100%;
  img{
    padding:20px;
  }
  &>div{
    background: url('/img/beerglass.jpg');
    background-image: linear-gradient(to left, rgba(0,0,0,0.5) 0%,rgba(0,0,0,1) 100%), url('/img/beerglass.jpg');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding:20px 20px 20px 0;
  }
}
main{
    background:black;
    height:100vh;
    color:wheat;
    display: flex;
    flex-direction: column;
}
.start-bg{
  min-height: 120vh;
  background: url("/img/beer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-right: 9vw;
  section{
    background: black;
    margin-right: 50px;
    height: 100px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    position: relative;
    border-radius:  40px 40px 0 40px ;
    &:after {
      content: '';
      position: absolute;
      border: 2px solid wheat;
      border-radius: 40px 0 40px 40px;
      bottom: 5px;
      left: 5px;
      width: calc(100% - 1px);
      height: calc(100% - 1px);
    }
  }
  div{
    background: black;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-top: 20px;
  }
}

.member-bg{
  h2{
    background: #000;
    margin: 50px 0 -50px 0 ;
    padding: 10px 10px 10px 50px;
  }
aside{
position: absolute;
top: 350px;
width:400px;
background: #000;
padding: 20px;
div{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
}
}

.register-bg, .member-bg{
  min-height: 120vh;
  background: url("/img/beerkeg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  display: flex;
  article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px 0;
    background: black;
    width: 100%;
    color: wheat;
    height: 300px;
    position: relative;
    section {
      align-self: center;
      padding-bottom: 20px;
      p{
        margin:10px 0;
      }
      fieldset {
        border: 2px solid rgb(95, 18, 18);
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
      }
      div {
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
      }
    }
    img {
      height: 100%;
    }
  }
  .registerbtn {
    top: 300px;
    margin: 10px;
    border: 5px solid rgb(53, 11, 11);
    color: rgb(46, 12, 12);
    background: url("/img/beerification.jpg");
    width: 300px;
    height: 100px;
    border-radius: 50px;
    left: 100%;
    align-self: center;
    box-shadow: inset -5px -5px 22px rgb(38, 0, 0);
    font-size: large;
    font-weight: bold;
  }
}
.members-main{
  min-height: 120vh;
  background: url("/img/beersplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 8vw;
  .message{
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
  }
  article{
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    h2{
      margin-bottom: 20px;
    }
  }
  .main-wrapper{
    height: 500px;
  }
}


footer {
  background: black;
  bottom: 0px;
  width: 100%;
  height: 120px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: wheat;
  overflow: hidden;
  nav {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  div {
    flex: 1;
  }
}
a {
    color: wheat;
    text-decoration: none;
    &:hover{
      color: white;
    }
}
.hide{
  display: none;
}



